services:
  frps:
    image: moonpath/frp:alpine-latest
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BASE_IMAGE: "alpine:latest"
        VERSION: 0.65.0
        TARGETARCH: amd64
    container_name: frps
    hostname: frps
    restart: unless-stopped
    stdin_open: true
    tty: true
    environment: {}
    network_mode: host
    healthcheck:
      test: ["CMD", "nc", "-z", "-w", "2", "127.0.0.1", "7000"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 1s
    deploy:
      resources:
        limits:
          memory: 300m

  frpc:
    image: moonpath/frp:alpine-latest
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BASE_IMAGE: "alpine:latest"
        VERSION: 0.65.0
        TARGETARCH: amd64
    container_name: frpc
    hostname: frpc
    restart: unless-stopped
    stdin_open: true
    tty: true
    command: ["frpc", "-c", "/frp/frpc.toml"]
    environment: {}
    network_mode: host
    depends_on:
      frps:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 300m
